In [1]:
# Manipulação de dados
import pandas as pd

# Ignorar avisos
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importa a base de dados em csv
df = pd.read_csv('arquivos/data_bruta.csv')

In [3]:
# Visualizar a base que importamos
df.head(3)

,id,created_at,updated_at,deleted_at,name_hash,email_hash,address_hash,birth_date,status,version,city,state,neighborhood,last_date_purchase,average_ticket,items_quantity,all_revenue,all_orders,recency,marketing_source
0,8bf7960e-3b93-468b-856e-6c6c5b56f52b,08/15/17 07:05 AM,01/14/21 11:23 AM,NaN,312d206168a318614897e8ccac43bff9,83eb3aed9a44377df80ce876dce92c9a,8b4bfaa0cbc41a16f46da15ddcd6a907,07/10/74 12:00 AM,active,2.31.7,Peixoto da Praia,AM,Aparecida 7ª Seção,01/14/21 11:23 AM,151.142942,10,906.857651,6,35,crm
1,a39535b5-4647-4680-b4f6-3aed57c1f1ff,12/31/19 09:53 PM,01/08/21 11:23 AM,NaN,de448fcb47d0d6a873b2eef52b5ee595,72678bb35e2ac84ed373e81dd9dca28c,22f1cfa1847f38da3f3cb114dd2b9247,07/06/40 12:00 AM,paused,3.30.12,Fernandes,RR,Santa Isabel,01/08/21 11:23 AM,236.991790,4,236.991790,1,41,organic_search
2,dc067cd2-c021-42bd-8c0e-beb267280e66,03/07/19 11:46 PM,01/07/21 11:23 AM,NaN,cb09e447ddc38283373d56bb46498e6a,668f4ee9add29c7bd02c485f1b7509e3,6cb47446a086ee6483b3eb954f11467a,03/18/63 12:00 AM,active,3.28.9,Lopes,RR,Estrela,01/07/21 11:23 AM,211.955597,13,2331.511572,11,42,organic_search

In [4]:
# Exibe colunas disponíveis
df.columns

Index(['id', 'created_at', 'updated_at', 'deleted_at', 'name_hash',
       'email_hash', 'address_hash', 'birth_date', 'status', 'version', 'city',
       'state', 'neighborhood', 'last_date_purchase', 'average_ticket',
       'items_quantity', 'all_revenue', 'all_orders', 'recency',
       'marketing_source'],
      dtype='object')

In [5]:
# Verifica tipo de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  object
 1   created_at          10000 non-null  object
 2   updated_at          10000 non-null  object
 3   deleted_at          505 non-null    object
 4   name_hash           10000 non-null  object
 5   email_hash          10000 non-null  object
 6   address_hash        10000 non-null  object
 7   birth_date          10000 non-null  object
 8   status              10000 non-null  object
 9   version             10000 non-null  object
 10  city                10000 non-null  object
 11  state               10000 non-null  object
 12  neighborhood        10000 non-null  object
 13  last_date_purchase  10000 non-null  object
 14  average_ticket      10000 non-null  float64
 15  items_quantity      10000 non-null  int64
 16  all_revenue         10000 non-null  float64
 17  all_orders          10000 non-null  int64
 18  recency             10000 non-null  int64
 19  marketing_source    10000 non-null  object
dtypes: float64(2), int64(3), object(15)
memory usage: 1.5+ MB

In [6]:
# Verifica a existência de valores nulos
df.isnull().sum()

id                       0
created_at               0
updated_at               0
deleted_at            9495
name_hash                0
email_hash               0
address_hash             0
birth_date               0
status                   0
version                  0
city                     0
state                    0
neighborhood             0
last_date_purchase       0
average_ticket           0
items_quantity           0
all_revenue              0
all_orders               0
recency                  0
marketing_source         0
dtype: int64

In [7]:
# Verifica a quantidade de valores únicos
df.nunique()

id                    10000
created_at             9975
updated_at              550
deleted_at              505
name_hash             10000
email_hash            10000
address_hash          10000
birth_date             7876
status                    3
version                2905
city                   2406
state                    27
neighborhood            482
last_date_purchase      550
average_ticket        10000
items_quantity           19
all_revenue            9069
all_orders               12
recency                 463
marketing_source          6
dtype: int64

In [8]:
df.count()

id                    10000
created_at            10000
updated_at            10000
deleted_at              505
name_hash             10000
email_hash            10000
address_hash          10000
birth_date            10000
status                10000
version               10000
city                  10000
state                 10000
neighborhood          10000
last_date_purchase    10000
average_ticket        10000
items_quantity        10000
all_revenue           10000
all_orders            10000
recency               10000
marketing_source      10000
dtype: int64

In [9]:
# Salva base consolidada em parquet
df.to_parquet('arquivos/data_tratada.parquet', index=False, compression = 'gzip')