## Bibliotecas

In [50]:
# Manipulação de dados
import pandas as pd

# Ignorar avisos
import warnings
warnings.filterwarnings('ignore')

## Leitura da base

In [51]:
# Importa a base de dados em csv
df = pd.read_csv('arquivos/data_bruta.csv')

## Estudo da base

In [52]:
# Visualizar a base que importamos
df.head(3)

,id,created_at,updated_at,deleted_at,name_hash,email_hash,address_hash,birth_date,status,version,city,state,neighborhood,last_date_purchase,average_ticket,items_quantity,all_revenue,all_orders,recency,marketing_source
0,8bf7960e-3b93-468b-856e-6c6c5b56f52b,08/15/17 07:05 AM,01/14/21 11:23 AM,NaN,312d206168a318614897e8ccac43bff9,83eb3aed9a44377df80ce876dce92c9a,8b4bfaa0cbc41a16f46da15ddcd6a907,07/10/74 12:00 AM,active,2.31.7,Peixoto da Praia,AM,Aparecida 7ª Seção,01/14/21 11:23 AM,151.142942,10,906.857651,6,35,crm
1,a39535b5-4647-4680-b4f6-3aed57c1f1ff,12/31/19 09:53 PM,01/08/21 11:23 AM,NaN,de448fcb47d0d6a873b2eef52b5ee595,72678bb35e2ac84ed373e81dd9dca28c,22f1cfa1847f38da3f3cb114dd2b9247,07/06/40 12:00 AM,paused,3.30.12,Fernandes,RR,Santa Isabel,01/08/21 11:23 AM,236.991790,4,236.991790,1,41,organic_search
2,dc067cd2-c021-42bd-8c0e-beb267280e66,03/07/19 11:46 PM,01/07/21 11:23 AM,NaN,cb09e447ddc38283373d56bb46498e6a,668f4ee9add29c7bd02c485f1b7509e3,6cb47446a086ee6483b3eb954f11467a,03/18/63 12:00 AM,active,3.28.9,Lopes,RR,Estrela,01/07/21 11:23 AM,211.955597,13,2331.511572,11,42,organic_search

In [53]:
# Exibe colunas disponíveis
df.columns

Index(['id', 'created_at', 'updated_at', 'deleted_at', 'name_hash',
       'email_hash', 'address_hash', 'birth_date', 'status', 'version', 'city',
       'state', 'neighborhood', 'last_date_purchase', 'average_ticket',
       'items_quantity', 'all_revenue', 'all_orders', 'recency',
       'marketing_source'],
      dtype='object')

In [54]:
# Verifica tipo de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  object
 1   created_at          10000 non-null  object
 2   updated_at          10000 non-null  object
 3   deleted_at          505 non-null    object
 4   name_hash           10000 non-null  object
 5   email_hash          10000 non-null  object
 6   address_hash        10000 non-null  object
 7   birth_date          10000 non-null  object
 8   status              10000 non-null  object
 9   version             10000 non-null  object
 10  city                10000 non-null  object
 11  state               10000 non-null  object
 12  neighborhood        10000 non-null  object
 13  last_date_purchase  10000 non-null  object
 14  average_ticket      10000 non-null  float64
 15  items_quantity      10000 non-null  int64
 16  all_revenue         10000 non-null  float64
 17  all_orders          10000 non-null  int64
 18  recency             10000 non-null  int64
 19  marketing_source    10000 non-null  object
dtypes: float64(2), int64(3), object(15)
memory usage: 1.5+ MB

In [55]:
# Verifica a existência de valores nulos
df.isnull().sum()

id                       0
created_at               0
updated_at               0
deleted_at            9495
name_hash                0
email_hash               0
address_hash             0
birth_date               0
status                   0
version                  0
city                     0
state                    0
neighborhood             0
last_date_purchase       0
average_ticket           0
items_quantity           0
all_revenue              0
all_orders               0
recency                  0
marketing_source         0
dtype: int64

In [56]:
# Verifica a quantidade de valores únicos
df.nunique()

id                    10000
created_at             9975
updated_at              550
deleted_at              505
name_hash             10000
email_hash            10000
address_hash          10000
birth_date             7876
status                    3
version                2905
city                   2406
state                    27
neighborhood            482
last_date_purchase      550
average_ticket        10000
items_quantity           19
all_revenue            9069
all_orders               12
recency                 463
marketing_source          6
dtype: int64

In [57]:
# Analisa dados estatísticos
df.describe()

,average_ticket,items_quantity,all_revenue,all_orders,recency
count,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,216.894709,8.49980,1174.888603,5.415400,67.192900
std,22.757213,3.02604,763.141973,3.457577,175.723276
min,131.378672,1.00000,0.000000,0.000000,1.000000
25%,201.398851,6.00000,494.873564,2.000000,31.000000
50%,217.019478,8.00000,1172.751918,5.000000,35.000000
75%,232.455042,11.00000,1798.475045,8.000000,39.000000
max,303.386848,19.00000,3225.654163,11.000000,1820.000000

In [ ]:
colunas = ['id', 'birth_date', 'created_at', 'deleted_at', 'last_date_purchase', 'status', 'recency', 'state', 'marketing_source', 'version', 'average_ticket', 'all_orders', 'all_revenue', 'items_quantity']
df = df[colunas]

## Tratamento da base

In [60]:
# Converter a coluna "deleted_at" para o formato de data
df['deleted_at'] = pd.to_datetime(df['deleted_at'])

# Converter a coluna "created_at" para o formato de data
df['created_at'] = pd.to_datetime(df['created_at'])

In [61]:
# Cria função para consertar interpretação de data do pandas
def fix_date_format(date_str):

    if "AM" in date_str:
        # Formato: MM/DD/YY HH:MM AM/PM
        date_obj = pd.to_datetime(date_str, format="%m/%d/%y %I:%M %p", errors='coerce')

        # Se o ano for maior que 2022, subtrai 100 para obter o século correto
        if date_obj.year > 2022:
            date_obj = date_obj.replace(year=date_obj.year - 100)

    else:
        # Formato: DD/MM/YYYY HH:MM
        date_obj = pd.to_datetime(date_str, format="%d/%m/%Y %H:%M", errors='coerce')
    return date_obj

# Aplicar a função para corrigir o formato da coluna "birth_date"
df['birth_date'] = df['birth_date'].apply(fix_date_format)

In [62]:
# Verificar período da base
inicio = df['created_at'].dt.date.min()
print(f'Data inicial: {inicio}')

fim = df['created_at'].dt.date.max()
print(f'Data final: {fim}')

Data inicial: 2016-02-19
Data final: 2021-02-18

## Observações iniciais

• A base de dados contém informações relacionadas a assinaturas de clientes, com um total de 10.000 registros.

• Existe uma coluna com valores ausentes, a coluna "deleted_at", que representa a data de cancelamento da assinatura. Cerca de 9.495 registros não possuem essa informação, o que indica que esses clientes ainda são assinantes ativos.

• As colunas "birth_date", "created_at" e "updated_at" estão representadas como objetos, indicando que essas colunas podem conter informações de data e hora que precisaram ser convertidas para o tipo de dado correto. Porém, foi observado que, ao tratar a coluna "birth_date", alguns anos de nascimento estavam sendo interpretados de forma errada (por exemplo: uma pessoa nascida em 63 estava sendo considerada nascida em 2063). A correta conversão dessas colunas permitirá que realizemos análises temporais e identifiquemos padrões ao longo do tempo.

• A coluna "status" representa o status da assinatura, e ao verificar os valores únicos, identificamos que existem três tipos possíveis: "active", "paused" e "inactive". A análise da distribuição desses status pode revelar insights sobre o comportamento dos clientes em relação à assinatura.

• A coluna "version" indica a versão da assinatura e possui 2.905 valores únicos. Será interessante investigar a relevância dessa coluna para entender se ela possui alguma relação com o churn. Uma análise mais detalhada pode revelar se determinadas versões de assinatura têm maior tendência ao churn do que outras.

• As colunas "state" e "marketing_source" representam o estado do cliente e o canal de marketing que converteu a assinatura, respectivamente. Ambas as colunas possuem valores categóricos que podem ser úteis para análises mais detalhadas. A análise da distribuição dessas categorias pode fornecer insights sobre o desempenho de cada estado e canal de marketing em relação à retenção de clientes.

• A coluna "average_ticket" apresenta valores numéricos representando a média de gasto por pedido dos clientes. Será relevante analisar como essa métrica pode influenciar no churn. A identificação de padrões entre a média de gasto e o churn pode ajudar a entender se clientes com maiores ou menores gastos têm maior probabilidade de cancelar a assinatura.

• A coluna "recency" indica o tempo desde a última compra do cliente. Essa métrica pode ser um fator importante para entender o comportamento dos clientes e sua relação com o churn. Uma análise mais aprofundada dessa métrica pode revelar se clientes com maior tempo desde a última compra estão mais propensos a cancelar a assinatura.

• A coluna "items_quantity" representa a média de itens na assinatura de cada cliente. Essa informação pode ser útil para avaliar o engajamento dos clientes com os produtos da assinatura. Uma análise dos clientes com maior e menor quantidade média de itens pode fornecer insights sobre o impacto desse fator no churn.

## Salva base em parquet

In [63]:
# Salva base consolidada em parquet
df.to_parquet('arquivos/data_tratada.parquet', index=False, compression = 'gzip')